body{
    font-family: "Source Code Pro", system-ui;
    background-color: #ffffff;
    margin: auto 0px;
}
html{
    scroll-behavior: smooth;
}
.header{
    display: flex;
    justify-content: center;
}
.container nav{
    position: relative;
    height: 100px;
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 5px 5px;
}
.logo{
    height: 150px;
}
nav ul li a{
    color: rgb(255, 0, 0);
    text-decoration: none;
    font-size: 20px;
    position: relative;
}
nav ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.home{
    height: 500px;
    position: relative;
}
.home img{
    width: 100%;
}
.imgtag{
    position: absolute;
    float: left;
    z-index: 1;
    left: 50px;
    top: 50px;
    color: #ff0000;
    font-size: 20px;
}
.home h1 span{
    color: #000000;
}
.home p span{
    color: #000000;
}
.about{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    height: 600px;
}
.contain{
    height: 260px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.subtitle{
    margin-top: 300px;
    margin-bottom: -200px;
    text-align: center;
    color: #ff0000;
}
.card {
    width: 400px;
    height: 500px;
    background-color: #a50303;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
  }
  
  .card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px  rgba(0, 0, 0, 0.705);
    background-color: #000000;
  }
  
  .first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
  }
  
  .card:hover .first-content {
    height: 0px;
    opacity: 0;
  }
  
  .second-content {
    height: 0%;
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
  }
  
  .card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
  }
  .second-content span{
    font-size: 15px;
    text-align: center;
  }
  .iconpack a{
    font-size: 30px;
    color: red;
    display: inline-block;
    transition: transform 0.5s;
  }
  .iconpack a:hover{
    transform: translateY(-5px);
    color: #000000;
  }
  .col1{
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .col1 h1{
    color: #ff0000;
  }
  .containment{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .col1 p {
    font-size: 18px;
  }
  .col1 p i{
    color: red;
  }
.col2 form{
    width: 100%;
    height: 320px;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #c2c2c2;
    padding: 15px;
    margin: 15px 0;
    color: #ff0000;
    font-size: 18px;
    border-radius: 25px;
}
form button{
    color: white;
    background-color: red;
    border: 0;
    padding: 15px;
    border-radius: 15px;
    transition-duration: 0.5s;
}
form button:hover{
    background-color: #000000;
}
.copyright{
    text-align: center;
    background: #c2c2c2;
    padding: 25px 0;
    font-weight: 300;
    margin-top: 30px;
}
  